<form>
    <div class="form-group">
        <label for="Email">Email address</label>
        <input readonly class="form-control" placeholder="contact-bookshelf@gmail.com">
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input readonly type="phoneNumber" class="form-control" placeholder="9090909090">
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <textarea class="form-control" readonly id="address" cols="5" rows="6">
            Plot No: 150,
            Area Name,
            City,
            District,
            State,
            Pincode.</textarea>
    </div>
</form>